p
{
background-color:pink;
padding:50px 50px 50px 50px
}
h1
{
 border-width:5px;
border-style:dashed;
border-color:orange;
}
h2
{
background-color:powderblue;
border-style:solid;
border-color:yellow;
margin-top:60px;
margin-bottom:50px;
margin-left:40px;
margin-right:60px;
}